#!/bin/bash

set -eux

### --start_docs

{% if mixed_upgrade|bool %}

## During mixed deployments the previous {{ tht_dir }} is to be used for overcloud

## * Make sure no Tht repo is present
## ::

rm -rf {{ upgrade_working_dir }}/{{ tht_dir }}

## * Copy current Tht directory to the upgrade working dir
## ::

cp -R /usr/share/openstack-tripleo-heat-templates {{ upgrade_working_dir }}/{{ tht_dir }};

{% endif %}



{% if target_upgrade_version == 'mitaka' and major_upgrade|bool %}

## * Some services have to be stopped and upgraded by hand
## ::

sudo systemctl stop openstack-*
sudo systemctl stop neutron-*
sudo yum -y update instack-undercloud openstack-puppet-modules openstack-tripleo-common python-tripleoclient

{% endif %}
{% if target_upgrade_version == 'master' and major_upgrade|bool or mixed_upgrade|bool %}

## Upgrades to master require:

## You need Red-Hat 7.3, see
## https://bugzilla.redhat.com/show_bug.cgi?id=1373140
## ::
sudo rhos-release -P 10 -r 7.3
sudo yum-config-manager --disable 'rhelosp-9.0*'
yum repolist -v enabled


## hangs (marios) - [bug-1593182](https://bugs.launchpad.net/tripleo/+bug/1593182)
## workaround is stop services before the upgrade i.e.
## ::

#sudo yum -y update python-cachetools

## * After that some services have to be stopped and upgraded by hand
## ::

sudo yum clean all && sudo yum clean metadata && sudo yum clean dbcache && sudo yum makecache
sudo systemctl stop openstack-*
sudo systemctl stop neutron-*


## workaround for dashboard not upgrading
## ::
sudo rm -rf /usr/share/openstack-dashboard/openstack_dashboard/local/local_settings.d


## do rpm the update
## ::

sudo yum -y update

yum repolist -v enabled
sudo systemctl list-units 'openstack-*' --all


{% endif %}

## * We call the openstack CLI to upgrade the overcloud
## ::

echo "Upgrade the undercloud"
openstack undercloud upgrade

### --stop_docs

