#!/bin/bash
set -eux

### --start_docs

## Do a minor overcloud upgrade
## ============================

## * All the next commands are done on the undercloud so we source the stackrc
## ::

source {{ upgrade_working_dir }}/stackrc

## * Sometimes mistral actions get lost. We need to repopulate them
## ::

sudo systemctl restart openstack-mistral-executor
sudo systemctl restart openstack-mistral-engine


## This loads the actions via entrypoints
## ::

sudo mistral-db-manage populate

## Make sure the new actions got loaded
## ::

mistral action-list | grep tripleo

## * The upgrade consists on running a series of small scripts on the overcloud
## ::

openstack overcloud deploy --templates {{ tht_dir }} \
    -e tripleo-heat-templates/overcloud-resource-registry-puppet.yaml \
{% if network_isolation == true %}
    -e {{ tht_dir }}/environments/network-isolation.yaml \
    -e {{ tht_dir }}/environments/net-single-nic-with-vlans.yaml \
    -e ~/network-environment.yaml \
{% endif %}
{% for item in update_custom_templates %}
    -e {{ item }} \
{% endfor %}

## * After that check to see if it worked
## ::

echo "check upgrade status"
heat stack-list | grep -i COMPLETE

### --stop_docs

